---
// BioLink component - Main component that combines profile, social links, and link buttons
import ProfileSection from './ProfileSection.astro';
import SocialLinks from './SocialLinks.astro';
import LinksList from './LinksList.astro';
import PopupModal from '../common/PopupModal.astro';
import ContactForm from './ContactForm.astro';

interface Props {
  profile: {
    name: string;
    title: string;
    description: string;
    avatar: string;
    backgroundColor?: string;
  };
  socialLinks: {
    platform: string;
    url: string;
    icon: string;
  }[];
  contactLinks: {
    title: string;
    url: string;
    icon?: string;
    modal?: string;
  }[];
  projectLinks: {
    title: string;
    url: string;
    icon?: string;
  }[];
}

const { profile, socialLinks, contactLinks, projectLinks } = Astro.props;
---

<div 
  class="min-h-screen w-full flex flex-col items-center py-8 bg-vhs-yellow dark:bg-slate-900"
>
  <div class="w-full max-w-lg mx-auto flex flex-col p-4">
    <!-- BioLink content here -->
    <div class="space-y-8">
      <ProfileSection {...profile} socialLinks={socialLinks} />
      
      <!-- <SocialLinks links={socialLinks} /> -->
      
      {contactLinks && contactLinks.length > 0 && (
        <div class="mt-8 neo-container p-4 bg-vhs-offwhite dark:bg-slate-800 text-vhs-darkgray dark:text-white">
          <h2 class="font-press-start text-lg mb-4 text-center">Connect with me</h2>
          <LinksList links={contactLinks} />
        </div>
      )}
      
      {projectLinks && projectLinks.length > 0 && (
        <div class="mt-8 neo-container p-4 bg-vhs-offwhite dark:bg-slate-800 text-vhs-darkgray dark:text-white">
          <h2 class="font-press-start text-lg mb-4 text-center ">My Projects</h2>
          <LinksList links={projectLinks} />
        </div>
      )}
    </div>
  </div>
</div>

<!-- Contact Modal -->
<PopupModal id="contact" title="Get in Touch">
  <ContactForm />
</PopupModal> 