---
// Contact Form Button component - standalone button for opening the contact form modal
import { Icon } from 'astro-icon/components';

interface Props {
  title?: string;
  icon?: string;
  modal?: string;
  buttonClass?: string;
}

const { 
  title = "Contact Me", 
  icon = "tabler:mail",
  modal = "contact",
  buttonClass = "" 
} = Astro.props;
---

<button
  class={`grid grid-cols-8 gap-2 items-center w-full p-4 mb-2 bg-vhs-offwhite dark:bg-slate-800 neo-button rounded-lg ${buttonClass}`}
  data-modal-target={modal}
>
  {/* Icon column */}
  <div class="col-span-1 flex justify-center">
    <Icon name={icon} class="w-8 h-8 text-vhs-red dark:text-vhs-yellow" />
  </div>
  
  {/* Title column */}
  <div class="col-span-6 px-2">
    <span class="font-press-start text-xs font-medium text-vhs-darkgray dark:text-white">{title}</span>
  </div>
  
  {/* Chevron column */}
  <div class="col-span-1 flex justify-center">
    <Icon name="tabler:chevron-right" class="w-8 h-8 text-vhs-orange dark:text-vhs-yellow" />
  </div>
</button> 