---
// LinksList component to display all link buttons
import LinkButton from './LinkButton.astro';

interface Link {
  title: string;
  url: string;
  icon?: string;
}

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="w-full max-w-md mx-auto px-4 neo-grid">
  {links.map(link => <LinkButton {...link} />)}
</div> 