---

---

<div class="w-full max-w-md mx-auto px-4 mt-4 mb-6">
  <!-- Custom border with neo-brutalist style -->
  <div class="neo-border border-vhs-darkgray dark:border-vhs-yellow h-2 bg-vhs-darkgray dark:bg-vhs-yellow"></div>  
</div> 

