---

---

<div class="w-full max-w-md mx-auto px-4 mt-4 mb-6">
  <!-- HR element with Tailwind CSS classes for dark mode support -->
  <hr class="border-t-2 border-vhs-darkgray dark:border-vhs-yellow" />  
</div> 

